@import url(".header__button-one.css");
@import url(".header__button-two.css");
@import url(".header.css");
@media all and (max-width: 500px) {
	.header__button-one {
		grid-column: 1 / 5;
		grid-row: 2;
		justify-self: center;
	}
	.header__button-two {
		grid-column: 1 / 5;
		grid-row: 3;
		justify-self: center;
	}
	.header {
		grid-row-gap: 20px;
	}
	.header__text {
		grid-column: 1 / 5;
		width: 300px;
		font-size: 50px;
	}
}