.grid_sec__img-1 {
	background: url(../../img/grid_sec_cell-1.jpg) center center / cover no-repeat;
}
.grid_sec__img-2 {
	background: url(../../img/grid_sec_cell-2.jpg) center center / cover no-repeat;
}
.grid_sec__img-3 {
	background: url(../../img/grid_sec_cell-3.jpg) center center / cover no-repeat;
}
.grid_sec__img-4 {
	background: url(../../img/grid_sec_cell-4.jpg) center center / cover no-repeat;
}
.grid_sec__img-5 {
	background: url(../../img/grid_sec_cell-5.jpg) center center / cover no-repeat;
}
.grid_sec__img-6 {
	background: url(../../img/grid_sec_cell-6.jpg) center center / cover no-repeat;
}