.input-form {
	padding: 20px;
	background: #293A43;
	display: grid;
	grid-template-columns:  minmax(0,275px) minmax(0,275px) minmax(0,275px) minmax(0px,275px);
	grid-template-rows: 50px;
	grid-template-areas: "input_one input_two input_three input_button";
	grid-gap: 20px;
	justify-content: center;
}