@media all and (max-width: 500px) {
	.input-form {
		grid-template-columns:  minmax(0,1fr);
		grid-template-rows: 50px 50px 50px 50px;
		grid-template-areas: "input_one" "input_two" "input_three" "input_button";
	}
}